In [1]:
import pandas as pd        

data = {
     "TID": [1, 2, 3, 4, 5],
    "Items": [
        "milk,bread,butter",
        "bread,eggs",
        "milk,bread,eggs",
        "bread,butter",
        "milk,eggs"
    ]
}

df = pd.DataFrame(data)
df

   TransactionID                  Items
0              1          [Milk, Bread]
1              2  [Milk, Diapers, Beer]
2              3        [Bread, Butter]
3              4  [Milk, Bread, Butter]
4              5        [Beer, Diapers]

In [4]:
from mlxtend.preprocessing import TransactionEncoder

transactions=df['Items'].tolist()
te=TransactionEncoder()

te_array = te.fit(transactions).transform(transactions)

df_encode=pd.DataFrame(te_array,columns=te.columns_)
df_encode

    Beer  Bread  Butter  Diapers   Milk
0  False   True   False    False   True
1   True  False   False     True   True
2  False   True    True    False  False
3  False   True    True    False   True
4   True  False   False     True  False

In [ ]:
from mlxtend.frequent_patterns import apriori

fre_items= ap